body {
  margin: 10pt;
  height: 100vh;
  font-family: "Consolas", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
}

code {
  font-family: "Trirong", serif;
}

.header {
  min-height:50px;
  background: -webkit-linear-gradient(#79717e, #79717e);
  background-blend-mode: lighten;
  font-family: "Trirong", serif;
  color: #698ab8;
}

.h1 {
  font-family: "Trirong", serif !important;
}

.main{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
}

.footer {
  min-height: 50px;
  padding: 20px;
  background-color: #79717e;
  background-blend-mode:soft-light;
  font-family: "Audiowide", sans-serif;
  color: #1eff00;
}

.h1 {
  color: white !important;
}

.navbar-brand a{
  color: azure;
}

.navbar a{
  color: #03f0e4;
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  margin: 20px;
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar a:hover{
  color: #0bf003;
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
  margin: 20px;
}

.current {
  border-bottom: 4px solid rgb(43, 255, 0);
}

.app, .app-page-not-found{ 
  min-height: 100vh;
  margin: 10; 
  background-color: #79717e;
  display: grid;
  font-size: 15pt;
  grid-template-rows: auto 1fr auto;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.card-body {
  size: 10pt;
  font-size: 15px;
  height: 200px;
  width: 400px;
  background-color: #9c91a1;
  color:black;
  font-family: "Consolas", serif !important;
  border-color: chartreuse !important;
  border-radius: 20px !important;
}

.card-body a{
  color:#9c91a1 !important;;
}

.card {
  background-color: #9c91a1 !important;
  color:black !important;
  border-color: cyan !important;
  border-radius: 20px !important;
}

.card a{
  background-color: #9c91a1 !important;
  color:black !important;
}

.form-control, .form-select {
  background-color: #9c91a1 !important;
  color:black !important;
}

.form-control a{
  background-color: #9c91a1 !important;
  color:black !important;
}

.mh-10 {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lang{
  font-family: "Consolas", serif !important;
}


